<% content_for(:title, "Learn How to Program") %>

<h1>Subjects</h1>

<ul>
  <% @subjects.each do |subject| %>
    <li><%= link_to subject.title, subject_path(subject) %> <%= subject.number %></li>
  <% end %>
</ul>

<%= link_to "Add a Subject", new_subject_path %>
